## large project files
#################
*.xtf
*.lock
*.shp
*.dbf
*.prj
*.shx
~$*.*
*.pyc

=======

#############
## Python
#############


*.pyc
# Packages
*.egg
*.egg-info
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
__pycache__/*
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox